.row-masonry {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    > .col-masonry {
        display: inline-block;
        width: 100%;
        min-height: 1em;
        margin-bottom: 15px;
    }
    img {
        max-width: 100%;
    }
}

@each $breakpoint, $length in $grid-breakpoints {
    @media only screen and (min-width: $length) {
        @for $i from 1 to 10 {
            .row-masonry-#{$breakpoint}-#{$i} {
                column-count: #{$i};
                column-gap: $masonry-column-gap;
                columns: #{$i};
            }
        }
    }
}
