// Layout Gutter
$layout-gutter: 8px !default;

$sm:    $layout-gutter !default;
$md:    $layout-gutter * 2 !default;
$lg:    $layout-gutter * 3 !default;

$grid-breakpoints: (
    xs: $screen-xs,
    sm: $screen-sm,
    md: $screen-md,
    lg: $screen-lg,
    xl: $screen-xl,
) !default;

// spaceing
$spacings: (
    0: 0,
    sm: $sm,
    md: $md,
    lg: $lg
) !default;

// type
$ul-ol-margin:      18px !default;

// position
$zindex-base:       $zindex-back-top - 1 !default;
$zindex-fixed:      $zindex-base !default;

// 文本
$text-sm:       $font-size-base + 0 !default; // 12px
$text-md:       $font-size-base + 2 !default; // 14px
$text-lg:       $font-size-base + 4 !default; // 16px

// 宽度
$widths: (
    sm: $layout-gutter * 20, // 160px
    md: $layout-gutter * 30, // 240px
    lg: $layout-gutter * 40, // 320px
) !default;

// 圆角
$border-radius-base:     $border-radius-base !default; // 4px
$border-radius-sm:       $border-radius-sm !default; // 2px
$border-radius-md:       $border-radius-base !default; // 4px
$border-radius-lg:       $border-radius-base + 2px !default; // 6px

$muted-color:  getColor('grey', 7) !default;

// Colors
$white:     #fff !default;
$black:     #000 !default;

$colors: (
    red:    ( getColor('red', 5),      getColor('red', 6),     getColor('red', 7) ),
    green:  ( getColor('green', 5),    getColor('green', 6),   getColor('green', 7) ),
    blue:   ( getColor('blue', 5),     getColor('blue', 6),    getColor('blue', 7) ),
    pink:   ( getColor('pink', 5),     getColor('pink', 6),    getColor('pink', 7) ),
    orange: ( getColor('orange', 5),   getColor('orange', 6),  getColor('orange', 7) ),
    purple: ( getColor('purple', 5),   getColor('purple', 6),  getColor('purple', 7) ),
    yellow: ( getColor('yellow', 5),   getColor('yellow', 6),  getColor('yellow', 7) ),
    cyan:   ( getColor('cyan', 5),     getColor('cyan', 6),    getColor('cyan', 7) ),
    teal:   ( getColor('teal', 5),     getColor('teal', 6),    getColor('teal', 7) ),
    grey:   ( getColor('grey', 5),     getColor('grey', 6),    getColor('grey', 7) )
) !default;

// Grey patch
$greyColorer: (
    lighter: getColor('grey', 3),
    darker:  getColor('grey', 9)
) !default;

// Alias
$aliasColors: (
    primary:    blue,
    success:    green,
    error:      red,
    warning:    yellow
) !default;

// masonry
$masonry-column-gap:  $layout-gutter * 2 !default;

// type
// ==========

// font-size
// https://ant.design/docs/spec/font-cn#字号
$font-size-large:         $font-size-base + 8 !default;  // 20px
$font-size-small:         $font-size-base !default;      // 12px

$h1-font-size:            $font-size-base + 20 !default; // 32px
$h2-font-size:            $font-size-base + 12 !default; // 24px
$h3-font-size:            $font-size-base + 8 !default;  // 20px
$h4-font-size:            $font-size-base + 4 !default;  // 16px
$h5-font-size:            $font-size-base + 2 !default;  // 14px
$h6-font-size:            $font-size-base !default;      // 12px

// Code
$enable-all-colors:           true !default;
$code-border-color:           #eee !default;
$code-bg:                     #f7f7f7 !default;

// Modal
$modal-lg:                    900px !default;
$modal-md:                    500px !default;
$modal-sm:                    300px !default;

// Badges
$badge-color:                 $white !default;
$badge-font-size:             $font-size-base !default;
$badge-padding:               0 8px !default;

// List group
$list-group-bg:                  $white !default;
$list-group-border-color:        $border-color-split !default;
$list-group-border-width:        1px !default;
$list-group-border-radius:       $border-radius-md !default;

$list-group-item-padding-y:      $layout-gutter !default;
$list-group-item-padding-x:      $layout-gutter * 2 !default;

$list-group-hover-bg:            getColor('grey', 1) !default;
$list-group-active-color:        $white !default;
$list-group-active-bg:           $primary-color !default;
$list-group-active-border-color: $list-group-active-bg !default;

$list-group-action-color:        getColor('grey', 7) !default;
$list-group-action-hover-color:  $list-group-action-color !default;

$list-group-disabled-color:      getColor('grey', 6) !default;
$list-group-disabled-bg:         $list-group-bg !default;

$list-group-action-active-color: getColor('grey', 9) !default;
$list-group-action-active-bg:    getColor('grey', 2) !default;

// Alain
// =========LAYOUTS=========
$zindex:                    $zindex-base !default;
$layout-ease:               cubic-bezier(.25, 0, .15, 1) !default;
$header-hg:                 64px !default;
$header-bg:                 $primary-color !default;
$header-padding:            $layout-gutter * 2 !default;
$header-search-enabled:     true !default;
$header-search-height:      34px !default;

$aside-wd:                  200px !default;
$aside-bg:                  #fff !default;

$aside-nav-fs:                              14px !default;
$aside-nav-padding-top-bottom:              $layout-gutter !default;
$aside-nav-text-color:                      $text-color !default;
$aside-nav-text-hover-color:                $primary-color !default;
$aside-nav-group-text-color:                $text-color-secondary !default;
$aside-nav-selected-text-color:             $primary-color !default;
$aside-nav-selected-bg:                     #fcfcfc !default;
$aside-nav-item-height:                     38px !default;
$aside-collapsed-wd:                        $layout-gutter * 8 !default;
$aside-collapsed-nav-fs:                    24px !default;

$content-heading-bg:                        #fafbfc !default;
$content-heading-border:                    #DFE3E5 !default;
$content-padding:                           $layout-gutter * 3 !default;
$content-bg:                                #f5f7fa !default;

// =========COMPONENTS=========
// quick menu
$quick-menu-width:          200px !default;
$quick-menu-bg:             #fff !default;
$quick-menu-border-width:   1px !default;
$quick-menu-border-color:   #ddd !default;
$quick-menu-top:            120px !default;
$quick-menu-ctrl-hw:        50px !default;
// placeholder
$placeholder-margin-vertical:                   15px !default;
$placeholder-padding:                           20px !default;
$placeholder-border:                            #ddd !default;
$placeholder-background:                        #fafafa !default;
$placeholder-color:                             #444 !default;
$placeholder-large-padding-vertical:            80px !default;

// track control state of visual feedback
$form-state-visual-feedback-enabled: false !default;
// search-form
$search-form-bg:        #fbfbfb !default;
$search-form-radius:    4px !default;
// table
$nz-table-img-radius:          4px !default;
$nz-table-img-margin-right:    4px !default;
$nz-table-img-max-height:      32px !default;
$nz-table-img-max-width:       32px !default;
$simple-table-bc:              #fff !default;
$simple-table-fs:              $font-size-base !default;
$simple-table-pagination-jc:   flex-end !default;

// =========Experimental=========
// =========Experimental=========
// =========Experimental=========
// =========focusing ng-zorro-antd COMPONENTS=========
$focusing-enabled:          false !default;
$nz-font-size:              14px !default;
$nz-patch-line-height:      1.6 !default;