<div class="wrapper">
    <div class="abs-center width-lg">
        <div class="py-lg text-center">
            <nz-avatar [nzSrc]="settings.user.avatar" nzIcon="anticon anticon-user" nzSize="large"></nz-avatar>
        </div>
        <nz-card [nzBordered]="false">
            <p class="mb-sm">输入密码后解锁屏幕。</p>
            <form nz-form [formGroup]="f" (ngSubmit)="submit()" role="form">
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group nzSize="large" nzSuffixIcon="anticon anticon-lock">
                            <input type="password" nz-input formControlName="password">
                        </nz-input-group>
                        <nz-form-explain *ngIf="f.get('password').dirty && f.get('password').errors">This field is required</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-row nzType="flex" nzAlign="middle">
                    <nz-col [nzOffset]="12" [nzSpan]="12" style="text-align:right;">
                        <button nz-button nzSize="large" [disabled]="!f.valid" nzType="primary">解锁</button>
                    </nz-col>
                </nz-row>
            </form>
        </nz-card>
        <div class="p-lg text-center text-sm">
            &copy; {{ settings.app.year }} - {{ settings.app.name }}
            <br> {{ settings.app.description }}
        </div>
    </div>
</div>
