<div class="container">
    <div class="top">
        <div class="head">
            <a>
                <img class="logo" src="./assets/img/logo-color.svg">
                <span class="title">ada-platform</span>
            </a>
        </div>
        <p class="desc">企业开发平台</p>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
        <ng-template #copyright>
            Copyright <nz-icon nzType="copyright"></nz-icon> 2018 <a>ADA</a>出品
        </ng-template>
    </global-footer>
</div>
