sudo: required
language: node_js
node_js:
  - "8.11"

addons:
  chrome: stable

git:
  depth: 1

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  - yarn

script:
  - npm run build
  - npm run lint
  - npm run test-coverage

after_success:
  - ./node_modules/.bin/codecov

