<div class="content__title">
    <h1>
        Tree 树形控件
        <small>use <a href="//github.com/cipchk/ng-tree-antd" target="_blank">ng-tree-antd</a> library.</small>
    </h1>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12"><tree-antd-demo-basic></tree-antd-demo-basic></div>
    <div nz-col [nzMd]="12"><tree-antd-demo-async></tree-antd-demo-async></div>
    <div nz-col [nzMd]="12"><tree-antd-demo-draggable></tree-antd-demo-draggable></div>
    <div nz-col [nzMd]="12"><tree-antd-demo-searchable></tree-antd-demo-searchable></div>
    <div nz-col [nzMd]="12"><tree-antd-demo-line></tree-antd-demo-line></div>
</div>
