<result type="success" [title]="'操作成功'" description="预计两小时内到账" [extra]="resultExtra">
  <ng-template #resultExtra>
    <div sv-container col="1" labelWidth="150">
      <sv label="付款账户">{{ item.pay_account }}</sv>
      <sv label="账户类型">{{ item.receiver_type_str }}</sv>
      <sv label="收款账户">{{ item.receiver_account }}</sv>
      <sv label="转账金额">
        <strong class="text-lg pr-sm">{{ item.amount }}</strong>
        元
      </sv>
    </div>
  </ng-template>
  <button nz-button (click)="item.again()" [nzType]="'primary'">再转一笔</button>
  <button nz-button class="ml-sm">查看账单</button>
</result>
