.d-none             { display: none !important; }
.d-block            { display: block !important; }
.d-inline-block     { display: inline-block !important; }
.d-flex             { display: flex !important; }
.d-inline-flex      { display: inline-flex !important; }
