// 【【勿删】】本文件可以根据需求调整 alain 的默认参数
// alain 有几十种参数，若不明白可至 issues 提问

// 例如：内容区域背景色为白色
// @content-bg:  #fff;

// 实验性功能
// 设置ng-zorro-antd所有组件字号为：14px
@focusing-enabled:                  true;
@nz-font-size:                      14px;

@focusing-full-color-enabled:       true;

// 注册alain主题样式
.alain();
// 注册alain颜色样式或自定义颜色样式
.alain-theme-a();
.alain-theme-b();
.alain-theme-c();
.alain-theme-d();
.alain-theme-e();
.alain-theme-f();
.alain-theme-g();
.alain-theme-h();
.alain-theme-i();
.alain-theme-j();
