<div class="content__title">
    <h1>Flot charts<small>ANGULAR2 D3 CHART FRAMEWORK</small></h1>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Bar">
            <div style="height:250px;">
                <ngx-charts-bar-vertical
                    [results]="single"
                    [scheme]="colorScheme"
                    [gradient]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Country'"
                    [yAxisLabel]="'Population'">
                </ngx-charts-bar-vertical>
            </div>
        </nz-card>
    </div>
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Stacked Bar">
            <div style="height:250px;">
                <ngx-charts-bar-vertical-stacked
                    [results]="multi"
                    [scheme]="colorScheme"
                    [gradient]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Country'"
                    [yAxisLabel]="'Population'">
                </ngx-charts-bar-vertical-stacked>
            </div>
        </nz-card>
    </div>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Pie">
            <div style="height:250px;">
                <ngx-charts-pie-chart
                    [results]="single"
                    [scheme]="colorScheme"
                    [gradient]="true"
                    [labels]="true"
                    [legend]="true"
                    [doughnut]="false">
                </ngx-charts-pie-chart>
            </div>
        </nz-card>
    </div>
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Pie Grid">
            <div style="height:250px;">
                <ngx-charts-pie-grid
                    [results]="single"
                    [scheme]="colorScheme">
                </ngx-charts-pie-grid>
            </div>
        </nz-card>
    </div>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card nzTitle="Advanced Pie">
            <div style="height:250px;">
                <ngx-charts-advanced-pie-chart
                    [results]="single"
                    [scheme]="colorScheme"
                    [gradient]="true">
                </ngx-charts-advanced-pie-chart>
            </div>
        </nz-card>
    </div>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Line">
            <div style="height:250px;">
                <ngx-charts-line-chart
                    [results]="multi"
                    [scheme]="colorScheme"
                    [gradient]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Country'"
                    [yAxisLabel]="'Population'"
                    [autoScale]="true">
                </ngx-charts-line-chart>
            </div>
        </nz-card>
    </div>
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Area">
            <div style="height:250px;">
                <ngx-charts-area-chart
                    [results]="multi"
                    [scheme]="colorScheme"
                    [gradient]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Country'"
                    [yAxisLabel]="'Population'"
                    [autoScale]="true">
                </ngx-charts-area-chart>
            </div>
        </nz-card>
    </div>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Tree Map">
            <div style="height:250px;">
                <ngx-charts-tree-map
                    [results]="single"
                    [scheme]="colorScheme">
                </ngx-charts-tree-map>
            </div>
        </nz-card>
    </div>
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Number Card">
            <div style="height:250px;">
                <ngx-charts-number-card
                    [results]="single"
                    [scheme]="colorScheme">
                </ngx-charts-number-card>
            </div>
        </nz-card>
    </div>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Gauge">
            <div style="height:250px;">
                <ngx-charts-gauge
                    [results]="single"
                    [scheme]="colorScheme"
                    [min]="0"
                    [max]="100"
                    [angleSpan]="240"
                    [startAngle]="-120"
                    [units]="'alerts'"
                    [bigSegments]="10"
                    [smallSegments]="5">
                </ngx-charts-gauge>
            </div>
        </nz-card>
    </div>
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Linear Gauge">
            <div style="height:250px;">
                <ngx-charts-linear-gauge
                    [scheme]="colorScheme"
                    [value]="60"
                    [previousValue]="80"
                    [min]="0"
                    [max]="100"
                    [units]="'alerts'">
                </ngx-charts-linear-gauge>
            </div>
        </nz-card>
    </div>
</div>
