<div class="content__title">
    <h1>Chart JS</h1>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Line">
            <div style="height:250px;">
                <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="{responsive: true}"
                    [colors]="lineChartColors"
                    [legend]="true"
                    [chartType]="'line'"></canvas>
            </div>
        </nz-card>
    </div>
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Bar">
            <div style="height:250px;">
                <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="{responsive: true, scaleShowVerticalLines: false}"
                    [legend]="true"
                    [chartType]="'bar'"></canvas>
            </div>
        </nz-card>
    </div>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Doughnut">
            <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [options]="{responsive: true}"
                [chartType]="'doughnut'"></canvas>
        </nz-card>
    </div>
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Radar">
            <canvas baseChart
                [datasets]="radarChartData"
                [labels]="radarChartLabels"
                [options]="{responsive: true}"
                [chartType]="'radar'"></canvas>
        </nz-card>
    </div>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Pie">
            <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [options]="{responsive: true}"
                [chartType]="'pie'"></canvas>
        </nz-card>
    </div>
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Polar Area">
            <canvas baseChart
                [data]="polarAreaChartData"
                [labels]="polarAreaChartLabels"
                [legend]="true"
                [chartType]="'polarArea'"></canvas>
        </nz-card>
    </div>
</div>
