$menu-item-selected-bg-code-num : 1;
$menu-item-selected-color-code-num: 8;
$nav-prefix-cls: "nav";
$menu-prefix-cls: "ant-menu";

@import "../app/color/index";
@import "../app/mixins/index";
@import "../app/variables-antd";
@import "../app/variables";

@mixin dark-aside() {
    .aside {
        background-color:rgb(64, 64, 64);
    }
    .nav {
        >li {
            > a,
            &.#{$nav-prefix-cls}-group-title {
                color: rgba(255, 255, 255, 0.67);
            }
            // Selected
            &.#{$nav-prefix-cls}-item-selected {
                background-color: rgb(51, 51, 51);
            }
        }
    }
    .nav-floating {
        background-color: rgb(64, 64, 64);
        border: none;
    }
    .user-block {
        .info {
            color: rgba(255, 255, 255, 0.67);
        }
    }
}
