@import "theme";

$theme-color-name:  'green';

.theme-h {
    @include dark-aside();
    .header {
        background-color: getColor($theme-color-name, 6);
    }
    .nav {
        > li {
            > a {
                &:hover {
                    color: getColor($theme-color-name, $menu-item-selected-color-code-num);
                }
            }
            // Selected
            &.#{$nav-prefix-cls}-item-selected {
                border-left-color: getColor($theme-color-name, $menu-item-selected-color-code-num);
                // background-color: $aside-nav-selected-bg;
                >a {
                    color: getColor($theme-color-name, $menu-item-selected-color-code-num);
                }
            }
        }
    }
}
