<div class="content__title">
    <h1>
        SweetAlert
        <small>A beautiful replacement for JavaScript's "alert"</small>
    </h1>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="8">
        <nz-card nzTitle="Showing an alert">
            <button nz-button (click)="alert1()">
                <span>Basic</span>
            </button>
            <button nz-button (click)="alert2()">
                <span>Basic2</span>
            </button>
            <button nz-button (click)="alert3()">
                <span>Success</span>
            </button>
            <button nz-button (click)="alert31()">
                <span>Error</span>
            </button>
        </nz-card>
    </div>
    <div nz-col [nzMd]="8">
        <nz-card nzTitle="Using options">
            <button nz-button (click)="alert4()">
                <span>Show</span>
            </button>
            <button nz-button (click)="alert41()">
                <span>3s Auto Close</span>
            </button>
        </nz-card>
    </div>
    <div nz-col [nzMd]="8">
        <nz-card nzTitle="Using promises">
            <button nz-button (click)="alert5()">
                <span>Show</span>
            </button>
            <button nz-button (click)="alert6()">
                <span>Are you sure?</span>
            </button>
        </nz-card>
    </div>
    <div nz-col [nzMd]="8">
        <nz-card nzTitle="Customizing buttons">
            <button nz-button (click)="alert7()">
                <span>Show</span>
            </button>
            <button nz-button (click)="alert8()">
                <span>3 Buttons</span>
            </button>
        </nz-card>
    </div>
    <div nz-col [nzMd]="8">
        <nz-card nzTitle="AJAX requests">
            <button nz-button (click)="alert9()">
                <span>Show</span>
            </button>
        </nz-card>
    </div>
    <div nz-col [nzMd]="8">
        <nz-card nzTitle="Using DOM nodes as content">
            <button nz-button (click)="alert10()">
                <span>Show</span>
            </button>
        </nz-card>
    </div>
</div>
