<div class="content__title">
    <h1>
        SweetAlert
        <small>A beautiful replacement for JavaScript's "alert"</small>
    </h1>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="8">
        <nz-card nzTitle="MODAL TYPES">
            <button nz-button (click)="alertType(t)" *ngFor="let t of types" class="mr-sm">
                <span>{{t}}</span>
            </button>
        </nz-card>
    </div>
    <div nz-col [nzMd]="8">
        <nz-card nzTitle="INPUT TYPES">
            <button nz-button (click)="alertText()" class="mr-sm">
                <span>text</span>
            </button>
            <button nz-button (click)="alertHtml()">
                <span>html</span>
            </button>
        </nz-card>
    </div>
</div>
