<div class="content__title">
  <h1>
      Popover | 冒泡停靠提示框
  </h1>
</div>
<div nz-row [nzGutter]="16">
  <div  nz-col [nzMd]="12">
      <nz-card>
          <ng-template #title>Basic</ng-template>
          <ng-template #body>
              <div class="mb-sm">
                  <nz-popover [nzTitle]="'标题'">
                      <button nz-button [nzType]="'primary'" nz-popover>弹出卡片</button>
                      <ng-template #nzTemplate>
                        <div><p>内容</p>
                          <p>内容</p></div>
                      </ng-template>
                    </nz-popover>
              </div>
          基本用法
          </ng-template>
      </nz-card>
  </div>

  <div  nz-col [nzMd]="12">
      <nz-card>
          <ng-template #title>Activator</ng-template>
          <ng-template #body>
              <div class="mb-sm">
                  <nz-popover [nzTitle]="'标题'" [nzTrigger]="'click'">
                      <button nz-button nz-popover>点击</button>
                      <ng-template #nzTemplate>
                        <div><p>内容</p>
                          <p>内容</p></div>
                      </ng-template>
                    </nz-popover>
                    <nz-popover [nzTitle]="'标题'" [nzTrigger]="'hover'">
                      <button nz-button nz-popover>移入</button>
                      <ng-template #nzTemplate>
                        <div><p>内容</p>
                          <p>内容</p></div>
                      </ng-template>
                    </nz-popover>
                    <nz-popover [nzTitle]="'标题'" [nzTrigger]="'focus'">
                      <button nz-button nz-popover>聚焦</button>
                      <ng-template #nzTemplate>
                        <div><p>内容</p>
                          <p>内容</p></div>
                      </ng-template>
                    </nz-popover>
              </div>
          触发模式
          </ng-template>
      </nz-card>
  </div>

  <div  nz-col [nzMd]="12">
      <nz-card>
          <ng-template #title>Direction</ng-template>
          <ng-template #body>
              <div class="mb-sm">
                  <div style="margin-left: 60px">
                      <nz-popover [nzTitle]="'标题'" [nzPlacement]="'topLeft'">
                        <button nz-button nz-popover>上左</button>
                        <ng-template #nzTemplate>
                          <div><p>内容</p>
                            <p>内容</p></div>
                        </ng-template>
                      </nz-popover>
                      <nz-popover [nzTitle]="'标题'" [nzPlacement]="'top'">
                        <button nz-button nz-popover>上边</button>
                        <ng-template #nzTemplate>
                          <div><p>内容</p>
                            <p>内容</p></div>
                        </ng-template>
                      </nz-popover>
                      <nz-popover [nzTitle]="'标题'" [nzPlacement]="'topRight'">
                        <button nz-button nz-popover>上右</button>
                        <ng-template #nzTemplate>
                          <div><p>内容</p>
                            <p>内容</p></div>
                        </ng-template>
                      </nz-popover>
                    </div>
                    <div style="width: 60px; float: left;">
                      <nz-popover [nzTitle]="'标题'" [nzPlacement]="'leftTop'">
                        <button nz-button nz-popover>左上</button>
                        <ng-template #nzTemplate>
                          <div><p>内容</p>
                            <p>内容</p></div>
                        </ng-template>
                      </nz-popover>
                      <nz-popover [nzTitle]="'标题'" [nzPlacement]="'left'">
                        <button nz-button nz-popover>左边</button>
                        <ng-template #nzTemplate>
                          <div><p>内容</p>
                            <p>内容</p></div>
                        </ng-template>
                      </nz-popover>
                      <nz-popover [nzTitle]="'标题'" [nzPlacement]="'leftBottom'">
                        <button nz-button nz-popover>左下</button>
                        <ng-template #nzTemplate>
                          <div><p>内容</p>
                            <p>内容</p></div>
                        </ng-template>
                      </nz-popover>
                    </div>
                    <div style="width: 60px; margin-left: 252px;">
                      <nz-popover [nzTitle]="'标题'" [nzPlacement]="'rightTop'">
                        <button nz-button nz-popover>右上</button>
                        <ng-template #nzTemplate>
                          <div><p>内容</p>
                            <p>内容</p></div>
                        </ng-template>
                      </nz-popover>
                      <nz-popover [nzTitle]="'标题'" [nzPlacement]="'right'">
                        <button nz-button nz-popover>右边</button>
                        <ng-template #nzTemplate>
                          <div><p>内容</p>
                            <p>内容</p></div>
                        </ng-template>
                      </nz-popover>
                      <nz-popover [nzTitle]="'标题'" [nzPlacement]="'rightBottom'">
                        <button nz-button nz-popover>右下</button>
                        <ng-template #nzTemplate>
                          <div><p>内容</p>
                            <p>内容</p></div>
                        </ng-template>
                      </nz-popover>
                    </div>
                    <div style="margin-left: 60px; clear: both;">
                      <nz-popover [nzTitle]="'标题'" [nzPlacement]="'bottomLeft'">
                        <button nz-button nz-popover>下左</button>
                        <ng-template #nzTemplate>
                          <div><p>内容</p>
                            <p>内容</p></div>
                        </ng-template>
                      </nz-popover>
                      <nz-popover [nzTitle]="'标题'" [nzPlacement]="'bottom'">
                        <button nz-button nz-popover>下边</button>
                        <ng-template #nzTemplate>
                          <div><p>内容</p>
                            <p>内容</p></div>
                        </ng-template>
                      </nz-popover>
                      <nz-popover [nzTitle]="'标题'" [nzPlacement]="'bottomRight'">
                        <button nz-button nz-popover>下右</button>
                        <ng-template #nzTemplate>
                          <div><p>内容</p>
                            <p>内容</p></div>
                        </ng-template>
                      </nz-popover>
                    </div>
              </div>
          显示方向
          </ng-template>
      </nz-card>
  </div>
  
  <div  nz-col [nzMd]="12">
      <nz-card>
          <ng-template #title>Close Inside</ng-template>
          <ng-template #body>
              <div class="mb-sm">
                  <nz-popover [nzTitle]="'标题'" [(nzVisible)]="visible" [nzTrigger]="'click'">
                      <button nz-button nz-popover [nzType]="'primary'">点击</button>
                      <ng-template #nzTemplate>
                        <a (click)='clickMe()'>点击关闭</a>
                        <p>内容</p>
                        <p>内容</p>
                      </ng-template>
                    </nz-popover>
              </div>
          内部关闭
          </ng-template>
      </nz-card>
  </div>

</div>