<div class="content__title">
    <h1>
        G2
        <small>use <a href="//github.com/cipchk/g2-angular" target="_blank">g2-angular</a> library.</small>
    </h1>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Line">
            <g2-chart [options]="lineOptions"
                (ready)="lineReady($event)"></g2-chart>
        </nz-card>
    </div>
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="Area">
            <g2-chart [options]="areaOptions"
                (ready)="areaReady($event)"></g2-chart>
        </nz-card>
    </div>
</div>
