<div class="content__title">
    <h1>
        Baidu Maps
    </h1>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card nzTitle="Basic Map">
            <ng-template #extra>
                <nz-button-group [nzSize]="'small'">
                    <button nz-button (click)="panTo()">
                        <span>Change Center</span>
                    </button>
                    <button nz-button (click)="zoom()">
                        <span>Change Zoom</span>
                    </button>
                </nz-button-group>
                <button nz-button (click)="infoWindow()" [nzSize]="'small'">
                    <span>new infomation window</span>
                </button>
            </ng-template>
            <abm-map #map [options]="options" (ready)="onReady($event)" style="height:500px;"></abm-map>
        </nz-card>
    </div>
</div>
