<div class="wrapper">
    <div class="abs-center width-lg">
        <!-- START panel-->
        <div class="text-center mb-lg">
            <div class="text-lg mb-lg">404</div>
            <p class="lead m0">We couldn't find this page.</p>
            <p>The page you are looking for does not exists.</p>
        </div>
        <div class="m-lg">
            <nz-input [nzType]="'search'" [nzPlaceHolder]="'try with search'"></nz-input>
        </div>
        <nz-breadcrumb nzSeparator="|" class="ant-breadcrumb__last-item-no-bold text-center">
            <nz-breadcrumb-item>
                <a class="text-muted" [routerLink]="'/home'">Go to App</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a class="text-muted" [routerLink]="'/login'">Login</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a class="text-muted" [routerLink]="'/register'">Register</a>
            </nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="p-lg text-center text-sm">
            &copy; {{ settings.app.year }} - {{ settings.app.name }}
            <br> {{ settings.app.description }}
        </div>
    </div>
</div>
