@media (max-width: @screen-xs-max) {
    .hidden-xs {
        display: none !important;
    }
}

@media (max-width: @screen-sm-max) {
    .hidden-sm {
        display: none !important;
    }
}

@media (max-width: @screen-md-max) {
    .hidden-md {
        display: none !important;
    }
}

@media (max-width: @screen-lg-max) {
    .hidden-lg {
        display: none !important;
    }
}
