html {
    direction: ltr;
    height: 100%; // http://updates.html5rocks.com/2013/12/300ms-tap-delay-gone-away
    touch-action: manipulation;
  }

  html,
  body,
  app-root {
    // overflow-x: hidden;
    height: 100%;
  }

  body {
      color: @text-color;
      background-color: @content-bg !important;
  }

  .progress-bar-container {
      height: 10px;
      position: absolute;
      top: -10px;
      right: 0;
      left: 0;
      z-index: @zindex + 10;
  }

  .wrapper {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 100%;
      overflow-x: hidden;

      .unwrap {
          margin-right: -@content-padding;
          margin-left: -@content-padding;
          @media (max-width: @screen-md-max) {
              margin-right: 0;
              margin-left: 0;
          }
      }
  }

  .content {
      margin: @header-hg @content-padding @content-padding @content-padding;
  }

  .content__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #929292;
      padding: @content-padding;
      padding-top: @content-padding - 12;
      padding-bottom: @content-padding - 12;
      margin-right: -@content-padding;
      margin-left: -@content-padding;
      margin-bottom: @content-padding;
      background-color: @content-heading-bg;
      border-bottom: 1px solid @content-heading-border;
      > h1 {
          font-size: 18px;
          font-weight: normal;
          line-height: inherit;
          > small {
              display: block;
              font-size: 12px;
              color: @muted-color;
          }
      }
  }

  // Desktop
  @media (min-width: @screen-sm) {
      .content {
          margin-left: (@aside-wd + @content-padding);
      }

      .aside-collapsed {
          .sidebar {
              width: @aside-collapsed-wd;
          }
          .content {
              margin-left: (@aside-collapsed-wd + @content-padding);
          }
      }
  }

  // @media (max-width: @screen-md-max) {
  //     .content {
  //         padding: 87px 15px 0;
  //     }
  //     .content__title {
  //         margin: -@content-padding;
  //         margin-bottom: @content-padding;
  //     }
  // }
