<page-header [title]="'搜索列表'" [tab]="tab">
  <div class="text-center">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="addOnAfterBtn" style="width: 520px">
      <input type="text" nz-input placeholder="请输入" />
      <ng-template #addOnAfterBtn>
        <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
      </ng-template>
    </nz-input-group>
  </div>
  <ng-template #tab>
    <nz-tabs [nzSelectedIndex]="pos">
      @for (i of tabs; track $index) {
      <nz-tab [nzTitle]="i.tab" (nzClick)="to(i)" />
      }
    </nz-tabs>
  </ng-template>
</page-header>
<router-outlet />