<div class="content__title">
    <h1>
        Font Icons
        <small>Semantic vector graphics, includes antd icons & Simple Line that can instantly be customized.</small>
    </h1>
</div>
<div class="mb-sm" *ngFor="let group of data">
    <h4 class="border-bottom-1 pb-sm mb-sm">{{group.title}}</h4>
    <nz-alert *ngIf="group.tip" [nzType]="'warning'" [nzShowIcon]="'true'" class="mb-sm">
        <span alert-body [innerHTML]="group.tip"></span>
    </nz-alert>
    <div class="icons" nz-row [nzGutter]="16">
        <div class="item" nz-col [nzXs]="8" [nzMd]="4"
            *ngFor="let item of group.list" (click)="onCopy(group, item)">
            <em class="{{group.prefix}}{{item.k}}"></em> {{item.k}}
            <em *ngIf="item.a" class="text-grey">(alias)</em>
        </div>
    </div>
</div>
